<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://siafunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c4dcb38-60a3-47b4-a284-e13ee8e04fb4/resourceGroups/Siamak/providers/Microsoft.Web/sites/SiaFunc</ResourceId>
    <UserName>$SiaFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://siafunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>